apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: shared-resource-secret-configmap-share-watch-sar-create
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.openshift.io
    resources:
      - sharedresources
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create